<div class="navbar bg-zinc-800 shadow-xl mx-auto px-8 py-3 transition-all duration-300 w-full">
  <div class="flex items-center flex-1 text-teal-300">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 h-8 ">
      <path fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            d="M6 18a4 4 0 0 1 0-8 4.5 4.5 0 0 1 9 0 4 4 0 0 1 0 8H6z" />
    </svg>
    <h2 class="btn btn-ghost text-2xl font-semibold">
      _cloudMight
    </h2>
    <h2 *ngIf="auth.isLoggedIn()" class="btn btn-ghost text-2xl font-semibold">
      Logged
    </h2>
  </div>
  <ul class="hidden md:flex items-center gap-6 text-[#ECEFF4] font-medium">
    <li><a href="/login" class="hover:text-teal-200 transition-colors">Log in</a></li>
    <li><a href="/register" class="hover:text-teal-200 transition-colors">Register</a></li>
  </ul>
  <div class="drawer drawer-end md:hidden justify-end">
    <input id="nav-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex items-center">
      <label for="nav-drawer" class="btn btn-ghost btn-circle text-[#ECEFF4]">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
             class="w-6 h-6 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </label>
    </div>
    <div class="drawer-side z-50">
      <label for="nav-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu p-4 w-60 min-h-full bg-[#2E3440] text-[#ECEFF4] space-y-2">
        <li><a class="hover:text-teal-200">Dashboard</a></li>
        <li><a class="hover:text-teal-200">My Files</a></li>
        <li><a class="hover:text-teal-200">Shared</a></li>
        <li><a class="hover:text-teal-200">Activity</a></li>
      </ul>
    </div>
  </div>
</div>

